.stdDashboard-header{
    position: sticky;
    top: 0px;
    left:15%;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0;
    padding: 0;
    height: 10vh;
    background: #df0606;
}