/* dashboard sidebar */
#std-dashboard-container{
    width: 100%;
    height: 100vh;
    background: white;
    color: white;
}
.stdDashboard-sidebar{
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    margin: 0;
    background: blue;
    padding: 0;
}

footer{
    position: fixed;
    bottom: 0px;
    right:0px;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0;
    padding: 0;
    height: 10vh;
    background: black;}