
option{
    font-size: 10px;
    /* background: red; */
    /* color: white; */
}

#dash{
    margin-top:0px;
    padding-top:0px;
    display: flex;
    flex-direction: row;
    background: white;
    
}
#dashboardContent{
   
}