body{
    margin:0;
    background: F5F6FA;
   
}
.landingFooter{
    position: absolute;
    top:2rem;
    left: 5rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 10rem;
    background: #F5F6FA;
    
}
.footer{
    width: 40%;
    margin-left: 7.2rem;
    background: #FFFFFF;
}
.footerBox{
    display: flex;
    justify-content: space-between;
    margin: 15px 25px 0 25px;
    align-items: center;
    
}

.footerBox> p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */


color: #31394D;
}