body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    background: #F5F6FA;
}
.summary{
    position: absolute;
    left: 5rem;
    width: 95%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 10rem;
   
    /* background: red; */
}

.allSummaryBox{
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* align-items:center ; */
    margin-left: 4rem;
}
.summaryBox{
width: 312px;
background: #FFFFFF;
box-shadow: 0px 1px 4px #E5E9F2;
border-radius: 5px;

}
.summaryBox > .summaryBoxTitle{
    height: 24px;
    font-size: 20px;
    line-height: 23px;
    color: #31394D;
    margin:2rem 0 0 3rem;
    /* identical to box height */
}
.summaryBox > .summaryBoxDetails{
    height: 17px;
    font-size: 14px;
    line-height: 16px;
    margin-left: 3rem;
    /* identical to box height */
    color: #748AA1;
}


.allUsersRecord{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: space-between;
    height: 400px;
    
  
}

