body{
    margin:0;
   
}
.topbar{
    position: absolute;
    left: 5rem;
    width: 95%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 10rem;
    background: #F5F6FA;
}
nav{
    display: flex;
    height: 40px;
    width: 90%;
    /* background: black; */
    margin: 3rem 0 0 5rem;
}
.activeMenue{
    width: 15%;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #31394D;
}
.userDetails{
    display: flex;
    height: 40px;
    width: 45%;
    /* background: white; */
    margin: 0 10% 0 10%;
    text-align: center;
    align-items: baseline;
    justify-content: center;
}
.userDetails > p{
    height: 17px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #31394D;
    
}
.userDetails> .welcome{
font-size: 20px;
line-height: 23px;

}
.userDetails> .userName{
color: #748AA1;

}

.partner{
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 25%;
    /* background: red; */
}
.userTypeImage{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filterStar{
    /* font-size: 50px; */
    color:red;
    /* height: 50px; */
}